
    {% extends 'base.html' %}
    {% block content %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <label>이름</label>
                    <input type = "text" name = "성" id ="add" value placeholder max="100">
                    <br>
                    <label>성</label>
                    <input type = "text" name = "성" id ="adc" value placeholder max="100">
                     <br>
                      <label>이메일</label>
                    <input type = "text" name = "성" id ="ade" value placeholder max="100">

                </div>
                <div class="col-md-4 mb-5">
                     <p>고객에게 최선을 다하는 회사로 거듭나겠습니다.</p>
                </div>

            </div>
        </div>
    {% endblock %}
