
    {% extends 'base.html' %}
    {% block content %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="jb-wrap">
                <div class="jb-image"><img src="https://ifh.cc/g/fvDVlp.jpg" alt=""></div>
                <div class="jb-text1">
                    <p>코멘토 직무 <br>부트캠프 회사</p>
                </div>
                 <div class="jb-text2">
                    <p>고객에게 최선을 다하는 회사로 거듭나겠습니다.</p>
                </div>
		    </div>


        </div>
    {% endblock %}
